/*Police d'écriture*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

 :root{
     --col1:#cbc1b7;
     --col2:#d2d7da;
     --col3:#683b23;
     
     --boxcol:rgb(204, 158, 121);
     --col6:#f2f2f2;
     --col7:#211c13;
     --col8:#947661;
     --col9:#c7bbb7;
     --main-color:#854828;
     --black:#683b23;
     --bg:#9e7456;
     --hove:#b2a79b;
     --border:.1rem solid rgba(121, 65, 65, 0.3);
 }
 
 html{
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-padding-top: 9rem;
     scroll-behavior: smooth;
 }
 
 html::-webkit-scrollbar{
     width: .8rem;
 }
 
 html::-webkit-scrollbar-track{
     background: transparent;
 }
 
 html::-webkit-scrollbar-thumb{
     background: var(--col5);
     border-radius: 5rem;
 }
  
 .btn{
     margin-top: 1rem;
     display: inline-block;
     padding:.9rem 3rem;
     font-size: 1.7rem;
     color:#fff;
     background: var(--main-color);
     cursor: pointer;
 }
 
 .btn:hover{
     letter-spacing: .2rem;
 }
 
 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #9e7456;
}
.link {
    margin: 20px;
    width: fit-content;
    position: relative;
    text-decoration: 0;
    background-color: #37a6ff;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14px;
}

.products_list {
    margin: 100px auto;
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    grid-gap: 25px;
}
.product {
    background-color: #fff;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
}
.product:hover {
    transform: scale(1.1);
}
.image_product {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_product img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    padding: 20px;
}
.content {
    margin-top: 0px;
    margin-bottom: 30px;
    height: fit-content;
    text-align: center;
}
.price {
    margin: 15px 0;
    font-weight: 400;
    color: #37a6ff;
}
.id_product {
    text-align: center;
    text-decoration: 0;
    background-color: #37a6ff;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px  10%;
    border-radius: 6px;
}
/*Panier CSS*/
.panier {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.panier img {
    width: 40px;
    padding: 8px 0;
}
.panier section {
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}
table {
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}
th {
    padding: 10px 0;
    font-weight: 400;
}
td {
    border-top: 0.5px solid #999;
    text-align: center;
    color: #37a6ff;
}
tr {
    border-bottom: 0.5px solid #999;
}

.total th {
    border: 0;
    float: left;
    font-weight: 500;
    color: #37a6ff;
    padding: 10px;
}